# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
build/
dist/
.eggs/
*.egg-info/

# Editor directories and files
.vscode/
*.swp
.DS_Store
